body {
    padding-top: 50px;
    padding-bottom: 20px;
}

label {
    font-weight: normal;
}

.odd {
    background-color: #f9f9f9;
}

td {padding-right: 7px;}
.monofont {font-family: Consolas, Lucida Console, monospace;}
