{% extends 'extended_base.html' %}
{% import 'macros.html' as macros %}

{% block search_box_attribs %}
  {% if query %}value="{{query|e}}"{% endif %}
{% endblock %}

{% block title %}{% if query %}Резултати: {{query|e}} {% elif catalog %}Каталог: {{catalog|join(' > ')}} {% else %}Почетна. {% endif %}- {{super()}}{% endblock %}

{% block meta_desc %}
  {{super()}}
  {% if query or catalog %}
    {% if query %}
      Резултати од пребарување: {{query|e}}
    {% endif %}
    {% if catalog %}
      Каталог: {{catalog|join(' > ')}}
    {% endif %}

  {% else %}
    Почетна
  {% endif %}

{% endblock %}

{% block head_rest %}
  {% if google_webmaster_verifier %}
    <meta name="google-site-verification" content="{{google_webmaster_verifier}}" />
  {% endif %}
{% endblock %}

{% block main %}
  {% if query or catalog %}
  <div id="search_info" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    {% if query %}
      <p><b>Резултати:</b> {{query|e}} </span>
    {% endif %}
    {% if catalog %}
      <p>Каталог: {{catalog|join(' > ')}}</p>
    {% endif %}
  </div>
  {% endif %}

  <div id="entries" class="col-xs-12 col-sm-12 col-md-8 col-lg-9" >
    {% for catalog_id, entries in data %}
    <div class="catalog_entry {% if loop.index % 2 == 0 %} odd {% endif %}" >
      <b>{{macros.catalog_crumb(url_query, query, catalog_id)}}</b>
      {% for entry in entries %}
      <div class="data_entry"  >
        {{macros.data_entry(url_query, entry)}}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <div id="side-nav" class="col-xs-12 col-sm-12 col-md-4 col-lg-3" >
    {% if (query or catalog) and catalogs %}
      <p><b>Каталози</b></p>
      <div id="catalogs" >
      {% for cat in catalogs %}
        <p>{{macros.catalog(url_query, query, cat) }}</p>
      {% endfor %}
      </div>

    {% elif catalogs %}
      {# home page #}
      <p><b>Каталози</b></p>
      <div id="catalogs" >
      {% for cat in catalogs %}
        <p>{{macros.catalog(url_query, query, (cat,)) }}</p>
      {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if page %}
    <nav class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      <ul class="pager">
        {% if page > 1 %}
          <li><a href="{{path}}?{{url_query.set('page', page - 1)}}">Претходни</a></li>
        {% endif %}
        <b>{{page}}
        {% if not final_page %}
          <li><a href="{{path}}?{{url_query.set('page', page + 1)}}">Следни</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endblock %}
