{% macro search_box(q, tr) %}
<div id="search_box" >
  <form action="/search" method="post" >
    <input type="input" autocomplete="off" name="q" value="{{q|e}}" />
    <input type="submit" value="Search" />
  </form>
</div>
{% endmacro %}

{% macro data_entry(url_query, entry) %}
<p class="small" >
  {% for cat in (entry.catalog_id[:-1]) %}
    {% set catalog_filter = ( entry.catalog_id[:loop.index]|join('/') ) %}
    <a href="/search?{{url_query.set('catalog', catalog_filter).delete('page')}}" >{{cat|e}}</a>
    {% if not loop.last %}{{'>'}}{% endif %}
  {% endfor %}
</p>

<p>
  <a href="/entry/{{entry.id|uuid2b64}}"  >{{entry.catalog_id[-1]|e}}</a>
  <span class="small">
    [{{entry.last.updated.strftime(DATE_FORMAT)}}]
  </span>
  <a href="/download/{{entry.last.id|uuid2b64}}" >
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
  </a>
</p>
{% endmacro %}
