{% macro search_box(q, tr) %}
<div id="search_box" >
  <form action="/search" method="post" >
    <input type="input" autocomplete="off" name="q" value="{{q|e}}" />
    <input type="submit" value="Search" />
  </form>
</div>
{% endmacro %}

{% macro catalog_crumb(url_query, query, catalog_id) %}
<p class="small" >
  {% for cat in catalog_id %}
    {% set catalog_filter = ( catalog_id[:loop.index]|join('/') ) %}
    {% if query %}
      <a href="/search/{{url_quote(query)}}?{{url_query.set('catalog', catalog_filter).delete('page')}}" >{{cat|e}}</a>
    {% else %}
      <a href="/catalog/{{catalog_filter}}" >{{cat|e}}</a>
    {% endif %}
    {% if not loop.last %}{{'>'}}{% endif %}
  {% endfor %}
</p>
<hr style="margin-top: 0px; margin-bottom: 7px;"/>
{% endmacro %}

{% macro catalog(url_query, query, catalog_id) %}
  {% set catalog_filter = catalog_id|join('/') %}
  {% set catalog_title = catalog_id|join(' > ')|e %}
  {% if query != '' and query is not none %}
    <a href="/search/{{url_quote(query)}}?{{url_query.set('catalog', catalog_filter).delete('query').delete('page')}}" title="{{catalog_title}}">{{catalog_id[-1]|e}}</a>
  {% else %}
    <a href="/catalog/{{catalog_filter}}{% if url_query.empty %}?{{url_query.delete('catalog').delete('page')}}{% endif %}" title="{{catalog_title}}">{{catalog_id[-1]|e}}</a>
  {% endif %}
{% endmacro %}

{% macro data_entry(url_query, entry) %}
<p>
  <a href="/entry/{{entry.id|uuid2b64}}" ><span itemprop="headline" >{{entry.catalog_id[-1]|e}}</span></a>
  <meta itemprop="url" content="/entry/{{entry.id|uuid2b64}}">
  <meta itemprop="dateModified" content="{{entry.last.updated.strftime(DATE_FORMAT)}}">
  <span class="small">
    [{{entry.last.updated|date_format}}]
  </span>
  <a href="/download/{{entry.last.id|uuid2b64}}" >
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  </a>
</p>
{% endmacro %}

{% macro catalog_desc(catalog) %}
  {% if catalog[0] == "Државна комисија за спречување корупција" %}
    Анкетни листови
  {% endif %}
{% endmacro %}
