{% extends 'results.html' %}

{% block title %}{% if query %}Резултати: {{query|e}}{% elif catalog %}Каталог: {{catalog|join(' > ')}}{% endif %} - {{super()}}{% endblock %}

{% block meta_desc %}
  {{super()}}
    {% if query %}
      Резултати од пребарување: {{query|e}}
    {% endif %}
    {% if catalog %}
      Каталог: {{catalog|join(' > ')}}
    {% endif %}
{% endblock %}

{% block search_box_attribs %}
  {% if query %}value="{{query|e}}"{% endif %}
{% endblock %}

{% block headline %}
  <div class="row" id="headline " >
    <div class="panel panel-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel-body">
      {% if query %}
	      <p><b>Резултати:</b> {{query|e}} </span>
	  {% endif %}
      {% if catalog %}
	      <p>Каталог: {{catalog|join(' > ')}}</p>
	  {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block side_nav_catalogs %}
  {% for cat in catalogs %}
    <p>{{macros.catalog(url_query, query, cat) }}</p>
  {% endfor %}
{% endblock %}

{% block pager %}
    <nav class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      <ul class="pager">
        {% if page > 1 %}
          <li><a href="{{path}}?{{url_query.set('page', page - 1)}}">Претходни</a></li>
        {% endif %}
        <b>{{page}}</b>
        {% if not final_page %}
          <li><a href="{{path}}?{{url_query.set('page', page + 1)}}">Следни</a></li>
        {% endif %}
      </ul>
    </nav>
{% endblock %}
